html {
    font-family: "Raleway", "Helvetica", sans-serif;
    font-weight: 400;
    color: #2F3442;
    height: 100%;
    background-color: #FFFFFF;
}
body{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {color: #BCD2DA;}

.card {
    border: 1px solid #CAD0D2;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
}

.card__description {
    display: flex;
    padding: 15px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card__descriptionIcon {font-size: 32px; margin-bottom: 10px;}

.card__descriptionText {
    color: #57727C;
    font-size: 12px;
    text-align: center;
    max-width: calc(100% - 30px);
}

.card__price {
    width: 100%;
    text-align: center;
    color: #57727C;
    font-size: 12px;
    font-weight: 700;
    padding: 5px 15px;
    border-top: 1px solid #D7DBDD;
    background-color: #EEF3F5;
}

.cardGroup {
    height: 170px ;
    width: 710px;
    border: 1px solid #CAD0D2;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
  }
  
    .cardGroup__card {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      align-self: flex-end;
      flex-grow: 1;
      width: 33%;
      border-radius: 0;
      text-align: center;
    }
  
    .cardGroup__card {
      border-left: 1px solid #D7DBDD;
    }
  
    .cardGroup__cardDescription {
      flex-grow: 1;
      align-items: center;
    }

    @media  (min-width: 320px) {
       .cardGroup{
         width: 320px;
         flex-direction: row;
       }
      }